name: itcode video index build
on:
  push:
    paths:
      - 'docs/itcode/video/*.mp4'

jobs:
  get_file_list:
    runs-on: ubuntu-latest  # μ‹¤ν–‰ ν™κ²½μ„ μ„¤μ •ν•©λ‹λ‹¤. Ubuntu ν™κ²½μ„ μ‚¬μ©ν•©λ‹λ‹¤.

    steps:
      - name: Checkout code
        uses: actions/checkout@v2  # μ €μ¥μ† μ½”λ“λ¥Ό μ²΄ν¬μ•„μ›ƒν•λ” μ•΅μ…μ„ μ‚¬μ©ν•©λ‹λ‹¤.

      - name: Get File List
        run: |
          file_list=$(find docs/itcode/video -type f -name "*.mp4" -exec basename {} \; | jq -R . | jq -s .)
          echo $file_list > index.json  # JSON νμΌλ΅ μ €μ¥ν•©λ‹λ‹¤.
        shell: bash

      - name: Show File List
        run: |
          cat file_list.json  # μ €μ¥λ JSON νμΌμ„ ν™•μΈν•©λ‹λ‹¤.
        shell: bash
        
      - name: Git commit
        run: |
          git add docs/itcode/video/index.json
          git config --global user.email "psj2716@mensakorea.org"
          git config --global user.name "RWB0104"
          git commit -m "π“ [UPDATE] λΉ„λ””μ¤ μΈλ±μ¤ κ°±μ‹ "
          git push
